#Theory Questions & Answers

###1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They’re important because without them, your programs would be like a pile of laundry on the floor—technically everything’s there, but good luck finding your left sock.

###2. Explain the difference between mutable and immutable data types (with examples)

Mutable: Can be changed after creation (e.g., list, dict, set)

In [ ]:
l = [1, 2]
l.append(3)

Immutable: Cannot be changed once created (e.g., str, tuple)

In [ ]:
s = "hello"
s[0] = "H"

TypeError: 'str' object does not support item assignment

###3. What are the main differences between lists and tuples in Python?

List ([]): Mutable, Performance is Faster, Use Case Changing

Tuple (()): Immutable, Performance is slower, Use Case Fixed Data

###4. Describe how dictionaries store data
  Dictionaries use a hash table to map keys to values. Keys are hashed into indexes that point to their corresponding values. This allows for fast lookups.

In [1]:
my_dict = {"name": "Alice", "age": 30}

###5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates

- Faster membership checks (in) than lists

- Ideal when order doesn’t matter and uniqueness is important

###6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters.

- A list is a sequence of any data type.

- Strings are immutable, lists are mutable.

In [ ]:
s = "abc"     # Cannot modify s[0]
l = ['a', 'b', 'c']  # Can modify l[0]

###7. How do tuples ensure data integrity in Python?
Tuples are immutable, meaning their data cannot be modified after creation—ensuring that the contents stay consistent and secure.

###8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores key-value pairs by computing a hash of the key to determine where to store the value. Python dictionaries use this structure internally for O(1) access time on average.

###9. Can lists contain different data types in Python?
Yes. Python lists are versatile:

In [ ]:
[1, "hello", 3.14, True, [1, 2], {"a": 1}]

[1, 'hello', 3.14, True, [1, 2], {'a': 1}]

###10. Explain why are strings immutable in Python
- Efficiency: Shared safely across code without copying

- Hashability: Can be used as keys in dictionaries

- Security: Prevent accidental modification

###11. What advantages do dictionaries offer over lists for certain tasks?
- Faster lookups by key (O(1) vs O(n))
- Semantic clarity when storing key-value relationships (e.g., name-age pairs)
- More meaningful access with keys vs. index numbers.

In [2]:
user = {"name": "Bob", "age": 25}  # More readable than list [“Bob”, 25]

###12. Describe a scenario where using a tuple would be preferable over a list
Scenario: When you want to store constant data that should not be changed.
Example: Storing coordinates of a point (x, y) in a 2D space.


Tuples are also hashable, so they can be used as keys in dictionaries or elements in sets, unlike lists.

In [3]:
coordinates = (10, 20)  # Should remain unchanged

###13. How do sets handle duplicate values in Python
Sets automatically remove duplicates and only store unique values.


If you add a duplicate to a set, it will be ignored.

In [4]:
my_set = {1, 2, 2, 3}
print(my_set)

{1, 2, 3}

###14. How does the “in” keyword work differently for lists and dictionaries
List: Checks if a value is present.

Dictionary: Checks if a key is present (not the value).

In [5]:
# List
my_list = [1, 2, 3]
print(2 in my_list)

True

In [6]:
# Dictionary
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)
print(1 in my_dict)

True
False

###15. Can you modify the elements of a tuple? Explain why or why not
No, tuples are immutable. Once created, their elements cannot be changed.


This immutability ensures data integrity and makes tuples hashable.

In [7]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10 → This will raise a TypeError

###16. What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary inside another dictionary.

Example: Representing a student’s profile:


Use Case: Organizing complex data like configurations, JSON data, or structured records.

In [8]:
student = {
    "name": "Alice",
    "grades": {
        "math": 90,
        "science": 85
    }
}

###17. Describe the time complexity of accessing elements in a dictionary
Average case: O(1) - very fast due to hash table implementation.

Worst case: O(n) - rare, happens if many hash collisions occur.

In practice, dictionary lookups are generally very efficient.

###18. In what situations are lists preferred over dictionaries
Use lists when:

- Order matters.

- You need to access items by index.

- You don’t need key-value pairs.

- You're working with sequential or numerical data.

Example: Storing a sequence of scores:

In [9]:
scores = [95, 87, 90]

###19. Why are dictionaries considered unordered, and how does that affect data retrieval
Before Python 3.7, dictionaries did not preserve insertion order. So, iterating over them didn’t guarantee a specific sequence.

From Python 3.7+, they preserve insertion order, but conceptually they are unordered—meaning you should not rely on key order for logic.

It doesn’t affect data retrieval by key (which is always fast), but it matters if you're looping through items.

###20. Explain the difference between a list and a dictionary in terms of data retrieval
List: Retrieve data by index (numerical position).

In [10]:
names = ["Alice", "Bob"]
print(names[0])

Alice

Dictionary: Retrieve data by key (label).

In [11]:
user = {"name": "Alice", "age": 30}
print(user["name"])

Alice

Use lists when position matters, and dictionaries when you want meaningful labels for your data.

#Practical Questions & Answers

###1. Write a code to create a string with your name and print it

In [13]:
name = "Abhishek Singh Bhadauria"
print(name)

Abhishek Singh Bhadauria

###2. Write a code to find the length of the string "Hello World"

In [14]:
text = "Hello World"
print(len(text))

11

###3. Write a code to slice the first 3 characters from the string "Python Programming"

In [15]:
text = "Python Programming"
print(text[:3])

Pyt

###4. Write a code to convert the string "hello" to uppercase

In [16]:
text = "hello"
print(text.upper())

HELLO

###5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [17]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

###6. Write a code to create a list with numbers 1 to 5 and print it

In [18]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [19]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

###8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [20]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [21]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

###10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [22]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [23]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [24]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

###13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [25]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

###14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [26]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

###15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [27]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

###16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [28]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

###17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [29]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

###18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [30]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

###19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [31]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

###20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [32]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

###21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [33]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

###22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [34]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

###23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [35]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

###24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [36]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [37]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

###26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [38]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

###27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [39]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[32, 56, 61, 89, 97]

###28. Write a code to create a list with strings and print the element at the third index

In [40]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])  # Fourth item, index = 3

date

###29. Write a code to combine two dictionaries into one and print the result

In [41]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

###30. Write a code to convert a list of strings into a set

In [42]:
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'orange', 'banana', 'apple'}